html {
  font-family: Open Sans;
}

body {
  background-color: white;
  margin: 0;
}

.meetTeam {
  padding-top: 1px;
  position: relative;
  min-height: 200px;
  background-repeat: repeat;
  text-align: center;

  .teamHeader {
    text-align: center;
    width: 100%;
    color: #452e76;
    font-size: 3em;
  }
}

#displayTeam {
  text-align: center;
  display: inline-block;
  max-width: 1400px;
}

@media all and (-ms-high-contrast:none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
  }
}

.person {
  display: inline-table;
  margin: 40px;
  cursor: pointer;
  
  .description {
    display: grid;
    text-align: center;
    max-width: 190px;
    grid-template-columns: repeat(1, 1fr);

    > span {
      -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 150px 50px;
    }

    .personName {
      font-size: 1.15em;
      color: #452e76;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .personJob {
      color: #48c3dc;
      font-size: 0.85em;
    }

    .personLocation {
      color: #808080;
      font-size: 0.85em;
      margin-top: 5px;
    }    
  }
}

.avatarBox {
  position: relative;

  .avatarImg {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .messageButton {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

.sliderEl {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .sliderBg {
    width: 100%;
  }

  .slideContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .sliderDescrBox {
      display: table-cell;
      margin: 0 auto;
      padding: 20px;
      border: 4px rgba(255, 255, 255, 0.2);
      border-style: dashed;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      .sliderJob {
        font-size: 3em;
        font-weight: 100;
      }
      
      .sliderName {
        font-size: 4.3em;
        font-weight: bold;
      }
    }
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: white;
  font-weight: bold;
}

.swiper-container {
  max-width: 1400px;
  height: 600px;
}

.swiper-slide {
  display: table;

  span {
    display: block;
    color: white;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
  }
}

#footer {
  min-height: 100px;
}

.button-prev, .button-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.button-prev {
  left: 30px;

  img {
    height: 50px;
  }
}

.button-next {
  right: 30px;

  img {
    height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .person {
    width: 130px;
    margin: 20px;
  }
  .sliderEl {
    .slideContent {
      .sliderDescrBox {
        .sliderJob {
          font-size: 1em;
        }
        
        .sliderName {
          font-size: 2em;
        }
      }
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;

  .overlay-content {
    display: table-cell;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }  

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    mix-blend-mode: difference;
    z-index: 1;
  }

}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay {
    a {
      font-size: 20px
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
